.block {
  background-color: black;
  background-size: cover;
  /* border: 1px solid white; */
  padding: 10px;
  
}
.auth-form-register {
  text-align: left;
  background: url('./img/mic.jpeg') no-repeat center center;
  background-size: cover;
  /* fixes overflow of form to next section */
  min-height: 95vh;
  /* fixes wierd spacing after adding min-height  */
  border: 0.1px solid transparent;
}
.container-auth-register {
  /* padding-left: 16em; */
}
.desc-register {
  color: #FFFFFF;
  background: rgba(200, 200, 200, 0.7);
  background: transparent;
  display: inline-block
}

.main-quote {
  
  display:inline;
  text-align: center;
  margin-top: 50px;
  line-height: 1em;
}
.quote {
  /* background: rgba(12, 10, 10, 0.2); */
  display: inline;
  line-height: 2em;
  /* padding-top: 20px; */
  /* border-radius: 20px; */
}
.input-format-register {
  margin-bottom: 1em;
}

.login-container-register {
  background: rgba(200, 200, 200, 0.7);
  margin-bottom: 0px;
  max-width: 500px;
  display: inline-block;
  text-align: left;
}

.signup-main {
  font-family: Arial Black;
}

.about-container {
  background: black center;
  /* background-size: cover; */
  margin: 0px;
  min-height: 95vh;
  
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.about-main-title {
  margin-top: 1.5em;
  margin-bottom: 1em;
  color: #FFFFFF;
  font-size: 32px;
  background-color: black;
  border: 2px solid white;
  
}

.btn-primary {
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

/*==================================================
=                      About                      =
==================================================*/
.about-intro {
  background-color: whitesmoke;
  padding: 5% 5%;
}
.about-func-row {
  height: 50vh; 
}
.side-image {
  background: url('./img/mic2.jpeg') no-repeat center center;
  background-size: cover;
  height: 25vh;
}
.about-func-row {
  padding-left: 0px;
  background-color: #27292B;
}
.about-funct-des-container {
  color: white;
  background-color: #27292B;
  /* commented out. fixes stacking extra height */
  /* height: 100%; */
}
.lead-custom {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  text-align: justify;
}
.hr-white {
  border-top: 4px solid #eee;
}
.hr-black {
  border-top: 4px solid black;
}


/*==================================================
=                      Footer                      =
==================================================*/
.footer {
  font-size: 125px;
  text-align: center;
  color: white;
}



/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) {

    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {
      
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
      .text-danger, .text-success {
        font-size: 18px;
      }
      .side-image {
        height: 100%;
      }
      .about-funct-des-container {
        padding-top: 4%;
      }
      .lead-custom {
        font-size: 24px;
      }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
      .container-auth-register {
        padding-top: 15em;
      }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }
