.block {
  background-color: black;
  background-size: cover;
  /* border: 1px solid white; */
  padding: 10px;
  
}
.auth-form-register {
  text-align: left;
  background: url('./img/mic.jpeg') no-repeat center center;
  background-size: cover;
  height: 95vh;
}
.container-auth-register {
  /*padding-top: 2em;
  margin-top: 10em;*/
}
.desc-register {
  color: #FFFFFF;
  background: rgba(200, 200, 200, 0.7);
  background: transparent;
  
}
.main-quote {
  
  display:inline;
  text-align: center;
  margin-top: 50px;
  line-height: 1em;
}
.quote {
  /* background: rgba(12, 10, 10, 0.2); */
  display: inline;
  line-height: 2em;
  /* padding-top: 20px; */
  /* border-radius: 20px; */
}
.input-format-register {
  margin-bottom: 1em;
}

.login-container-register {
  background: rgba(200, 200, 200, 0.7);
  margin-bottom: 0px;
  /* max-width: 500px; */
}

.signup-main {
  font-family: Arial Black;
}

.about-container {
  background: black center;
  /* background-size: cover; */
  margin: 0px;
  min-height: 95vh;
  
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.about-main-title {
  margin-top: 1.5em;
  margin-bottom: 1em;
  color: #FFFFFF;
  font-size: 32px;
  background-color: black;
  border: 2px solid white;
  
}

.main-container {
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 100%;
  border: 1px solid black;
  box-sizing: border-box;
  
}
.left-container {
  flex: 2 50%;
  min-height: 100%;
  max-width: 50%;
  border: 1px black;
  /* background: rgb(52, 33, 163); */
  background: url('./img/mic.jpeg') no-repeat center center;
  background-size: cover;
  padding: .5em;
}
.right-container {
  flex: 2 50%;
  display: flex;
  height: 100%;
  max-width: 50%;
  flex-wrap: wrap;
  align-items: flex-start;
}
.half-containers {
  flex: 0 0 100%;
  max-height: 50%;
  min-height: 50%;
  max-width: 100%;
  background: rgb(145, 97, 133);
  border: 1px solid rgb(12, 9, 9);
  padding: .5em;
  overflow: hidden;
  font-size: 32px;
}

.btn-primary {
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

/*==================================================
=                      About                      =
==================================================*/
.about-intro {
  background-color: whitesmoke;
}
.about-func-row {
  height: 50vh; 
}
.side-image {
  background: url('./img/mic2.jpeg') no-repeat center center;
  background-size: cover;
  height: 100%;
}
.about-funct-des-container {
  padding-top: 4%;
  height: 100%;
}

.footer {
  font-size: 125px;
  text-align: center;
  color: white;

}



/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) {

    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
      .text-danger, .text-success {
        font-size: 18px;
      }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
      .container-auth-register {
        padding-top: 15em;
        /* margin-top: 10em; */
      }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }
