.navbar {
  margin-bottom: 0px;
}

.navbar-inverse .navbar-nav>.active>a {
  background-color: #222;
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}

.navbar-brand {
  /* border-radius: 25%; */
  background: url('./img/logopic.png') left / contain no-repeat;
  /* background-image: url('./img/logopic.png'); */

  width: 230px;
 
  /*background-size: cover;*/
  /*display: block;*/
}


/*<img src="./img/mic.jpeg" alt="..." className="rounded-circle"/>*/