.signinMain {
  text-align: center;
  font-family: Arial Black;
  background-color: white;
  margin: 15vh 10vh;
  padding: 10% 10%;
  border: 1px solid black;
}

.signinButton {
  margin-top: 5px;
}

.App {

  background: url('./img/mic.jpeg') no-repeat center center;
  background-size: cover;
}
