
.signIn-background{

  background: #0a12b5;
  height: 95vh;
  background:repeating-linear-gradient(#0a12b5, black); 
}

.signIn-container{

  margin-top: 10%;
  max-width: 400px;
  display: inline-block

}

/* .App {

  background: url('./img/mic.jpeg') no-repeat center center;
  background-size: cover;
} */
